.flag, .map {
    max-height: 20vh;
}
.content {
    max-width: 80rem;
    margin: auto;
}
nav {
    width: 100%;
}
nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
nav > ul > li > a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
.section-title {
    text-transform: capitalize;
    background-color: rgb(98, 129, 224);
}
.subsection-title {
    text-transform: capitalize;
    background-color: lightblue;
}
section {
    padding: 1rem;
}
article  {
    padding: 1rem;
}

.home__counties-list a {
    font-size: 20px;
    vertical-align: middle;
}

.navigation a {
    text-transform: capitalize;
}

.navigation__title {
    font-size: 1.2rem;
}